html {
  height: 100%;
  box-sizing: border-box;
}

body {
  padding-top: 3.5rem;
  padding-bottom: 6rem;
  min-height: 100%;
  position: relative;
  margin: 0;
}

.custom-center {
  padding: 3rem 1.5rem;
  text-align: center;
}

.custom-left {
  margin-left: 150px;
  font-size: 1.25rem;
}

.custom-ghost {
  opacity: 0;
  transition: all 0.4s ease-out; 
}

.custom-ghost:hover {
  opacity:100;
  transition: all 0.4s ease-out; 
}

.custom-footer {
  position: absolute;
  width:100%;
  bottom: 0px;
  padding: 1rem;
  background-color: #efefef;
}

.bg-customBrown {
  background-color: #2b220e; 
}

.bg-customYellow {
  background-color: #d8b565;
}