html {
  height: 100%;
  box-sizing: border-box;
}

body {
  padding-top: 3.5rem;
  padding-bottom: 6rem;
  min-height: 100%;
  position: relative;
  margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.landscape {
    height: 70%;
    width: 70%;
}

.home-paragraph {
  padding-top: 2.5%;
  padding-right: 1.5%;
}

.home-center {
  padding: 2rem 1.5rem;
  text-align: center;
}

.portfolio-center {
  padding: 1.5rem 1.5rem;
  text-align: center;
  margin-right: 20%;
}

.custom-center {
  padding: 3rem 1.5rem;
  text-align: center;
}

.custom-left {
  margin-left: 150px;
  font-size: 1.25rem;
}


#portfolio-block {
  margin-left:25%;
  text-align: left;
  display:inline-block;
}

#about-block {
  text-align: left;
  display: inline;
  margin-right: 50%;
}

#contact-block {
  text-align: left;
  width: 25%;
  display:inline-block;
  margin-left: 5.5%;
}

#home-block {
  text-align: left;
  width: 60%;
  display:inline-block;
}

.custom-ghost {
  opacity: 0;
  transition: all 0.4s ease-out; 
}

.custom-ghost:hover {
  opacity:100;
  transition: all 0.4s ease-out; 
}

a {
  transition: all 0.6s ease-out; 
  text-decoration: none;
  outline:none;
  color: #00b9b9;
  white-space: nowrap;
}

a:hover {

  text-decoration: underline;
  transition: all 0.6s ease-out; 
}

.ghost-experiment {
  transition: all 0.6s ease-out; 
  padding-bottom: 4px;
  white-space: nowrap;
  border-bottom: 1px solid black;
  display: inline;
}

.ghost-experiment:hover {
    opacity: 0;
}

.custom-footer {
  position: absolute;
  width:100%;
  bottom: 0px;
  padding: 1rem;
  background-color: #efefef;
}

.bg-customBrown {
  background-color: #2b220e; 
}

.bg-customTan {
  background-color: #ddc796;
}